* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none !important;
}

.page .entry-header {
    display: none;
}

#site-header .header-inner {
    padding: 0;
}

#site-header .top-menu {
    height: 60px;
    background: #333333;
}

#site-header .top-menu {
    padding-top: 15px;
}

#site-header .top-menu li {
    display: inline-block;
    margin: 0;
    margin-right: 25px;
}

#site-header .top-menu li:nth-child(4),
#site-header .top-menu li:nth-child(3) {
    float: right;
}

#site-header .top-menu li a {
    color: rgb(219, 219, 219);
    font-size: 14px;
    text-decoration: none;
}

#site-header .header-inner {
    justify-content: start;
    height: 95px;
}

#site-header .site-logo img {
    height: 80px !important;
}

#site-header .site-logo {
    margin: 0;
}

#site-header .header-titles {
    margin: 0;

}

#site-header .primary-menu li a {
    font-size: 16px;
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: bold;
}

#site-header .primary-menu li.current-menu-item a {
    padding-bottom: 5px;
}

#site-header .primary-menu li.current-menu-item a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% - 20px);
    background: #d83b36;
    bottom: -0px;
    left: 10px;
}

#custom-footer {
    background-color: #333333;
    margin-top: 0;
}

#custom-footer .footer-inner h2 {
    font-size: 18px;
    color: white;
    position: relative;
}

#custom-footer .footer-inner h2:before {
    content: '';
    height: 2px;
    width: 50px;
    background: #d83b36;
    position: absolute;
    bottom: -10px;
}

#custom-footer .footer-inner ul {
    margin: 0;
    list-style: none;
}

#custom-footer .footer-inner li {
    margin: 0;
}

#custom-footer .footer-inner li a {
    font-size: 14px;
    color: rgb(196, 196, 196);
}

#custom-footer .display-posts-listing .listing-item {
    height: 100px;
    padding: 10px 0;
}

#custom-footer .display-posts-listing .listing-item .image {
    float: left;
    width: 80px;
    height: 60px;
    overflow: hidden;
    margin-right: 15px;
}

#custom-footer .display-posts-listing .listing-item span.date {
    font-size: 12px;
    color: rgb(196, 196, 196);
    display: block;
}

#custom-footer .footer-widgets.column-three {
    width: 30%;
}

#custom-footer .footer-widgets.column-four {
    width: 60%;
}

#site-footer .footer-copyright {
    font-size: 14px;
    color: rgb(196, 196, 196);
    font-weight: normal;
    text-align: center;
}

#site-footer .section-inner {
    justify-content: center !important;
}

#contact-form {
    background-color: rgb(221, 63, 63);
    padding: 20px 0;
}

#contact-form h4 {
    color: white;
    font-size: 28px;
    font-weight: normal;
}

#contact-form p,
#contact-form span {
    color: rgb(199, 199, 199);
    ;
    font-size: 14px;
}

#contact-form input[type="text"],
#contact-form input[type="email"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(199, 199, 199);
    font-size: 14px;
    padding-left: 0;
    color: white;
    margin-bottom: 10px;
}

#contact-form input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(199, 199, 199);
    ;
    font-style: italic;
    opacity: 1;
    /* Firefox */
}

#contact-form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: italic;
    color: rgb(199, 199, 199);
    ;
}

#contact-form input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: italic;
    color: rgb(199, 199, 199);
    ;
}


#contact-form input[type="submit"] {
    background-color: rgb(48, 48, 48);
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

#contact-form div[role="alert"] {
    color: white;
    font-size: 14px;
    border-color: white;
}

.page .entry-content>.alignfull {
    margin: 0;
}

.metaslider li .caption-wrap {
    height: 100%;
    opacity: 1;
    background-color: transparent;
    text-align: center;
    padding-top: calc(50% - 140px);
}

.metaslider li .caption-wrap p {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px !important;
}


.button,
#contact-form input[type="submit"],
.metaslider li .caption-wrap button {
    display: inline-block;
    background: #333333 !important;
    position: relative;
    padding: 15px;
    padding-left: 40px;
    text-transform: uppercase;
    border: 0;
    width: auto !important;
}

.button .wp-block-button__link {
    font-size: 14px !important;
    padding: 0 !important;
    background: transparent !important;
}

.button:before,
#contact-form input[type="submit"]:before,
.metaslider li .caption-wrap button:before {
    content: '';
    position: absolute;
    top: 18px;
    left: 20px;
    height: 0;
    width: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid white;
}

.section-inner {
    max-width: 1200px !important;
}

.custom-red {
    background-image: linear-gradient(to right, #bf1017, #e0454a);
    padding: 80px 0 100px 0;
}

.custom-red h2 {
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    text-align: center;
    font-weight: 300;
}

.custom-red h4 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.custom-red p {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.custom-red .wp-block-column {
    text-align: center;
}

.custom-red .wp-block-column img {
    height: 90px;
    margin: 0 auto;
}

.custom-cover {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    padding: 100px 0 80px 0;
}

.custom-cover h2 {
    color: #333 !important;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 0;
}

.custom-cover h2:nth-child(2) {
    font-weight: 400;
}

.custom-cover p {
    font-weight: 300;
    color: #333 !important;
    margin: 50px 0 0 0 !important;
    width: 50% !important;
}

.custom-cover .wp-block-cover__inner-container {
    max-width: 1200px;
}

.customer-product-title h2 {
    margin: 0 !important;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 36px;
}

.customer-product-title .wp-block-column:nth-child(2) {
    text-align: right;
}

.custom-product-detail {
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

.custom-product-detail h4 {
    font-weight: 300;
    /* text-transform: uppercase; */
    font-size: 24px;
}

.custom-product-detail p {
    font-weight: 300;
    /* text-transform: uppercase; */
    font-size: 16px;
    width: 70%;
}

.custom-product-detail .button.button-border {
    background: transparent !important;
    border-bottom: 1px solid #d83b36;
    padding: 15px 0 10px 15px;
}

.custom-product-detail .button.button-border:before {
    border-left: 8px solid #333;
    left: 0;
}

.custom-product-detail .button.button-border a {
    color: #333 !important;
}

.custom-contact-action {
    border-top: 1px solid #ccc;
    padding: 50px 0;

}

.custom-contact-action .wp-block-button__link {
    position: relative;
    font-weight: bold;
}

.custom-contact-action .wp-block-button__link img {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 39px;

}

.custom-contact-action .button-first .wp-block-button__link {
    height: 60px;
    background: #bf1017;
    padding: 20px 100px;
    border-radius: 0;
    float: right;
}

.custom-contact-action .button-second .wp-block-button__link {
    height: 60px;
    color: #bf1017;
    border: 1px solid #bf1017;
    padding: 20px 100px;
    border-radius: 0;
    font-weight: 400;
    background: transparent;
}

.custom-product-slider ul {
    white-space: nowrap;
    list-style: none;
    overflow: hidden;
}

.custom-product-slider ul li {
    display: inline-block;
    width: 30%;
}

.custom-product-slider ul li img {
    width: unset;
    height: 250px;
}

.custom-product-slider ul li .title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}


.post-6 {
    background: #ececec;
}

#custom-about {
    max-width: 1200px;
}

#custom-about .wp-block-columns {
    max-width: 100%;
}

#custom-about .wp-block-columns:nth-child(3) img {
    background: red;
    margin-left: -20%;
}

#custom-about h2 {
    font-weight: 300;
    text-transform: uppercase;
}

#custom-about .about-content h4 {
    padding-top: 20%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
}

#custom-about .about-content h4:after {
    content: '';
    height: 1px;
    background: #ddd;
    width: 100px;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 50px);
}

#custom-about .about-content {
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    padding-top: 40px;
    height: 500px;
    max-width: 120%;
    width: 120%;
    background: white;
    z-index: 1;

}

#custom-about .wp-block-column img {
    width: 120%;
    max-width: 120%;
}

#custom-key-value {
    background-image: linear-gradient(to right, #bf1017, #e0454a);

}

#custom-key-value>div {

    max-width: 1200px;
    padding-bottom: 50px;
}

#custom-key-value .wp-block-columns {
    max-width: 100%;

}

#custom-key-value h2 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
}

#custom-key-value .wp-block-column {
    text-align: center;
}

#custom-key-value .wp-block-column img {
    margin: 0 auto;

}

#custom-key-value .wp-block-column h4 {
    color: white;
    font-weight: 400;
}

#custom-key-value .wp-block-column p {
    color: white;
}

#customers {
    max-width: 1200px;

}

#customers h2 {
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
    text-align: center;
}

#customers .wp-block-gallery {
    max-width: 1200px;
}

#customers .wp-block-gallery li {
    width: calc((100% - 64px)/6)
}

#customers .wp-block-gallery img {
    object-fit: scale-down;
}

.news-list {
    max-width: 1200px;
    margin: 0 auto;
}

.news-list .news-detail {
    width: 33%;
    display: inline-block;
}


.product-list {
    max-width: 1200px;
    margin: 0 auto;
}

.product-list .product-detail {
    width: 24%;
    display: inline-block;
    padding: 20px;
}
.product-list .product-detail h2{
    font-size: 16px;
}
.product-list .product-detail img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.paging-navigation {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paging-navigation a {
    padding: 5px;
    display: inline-block;
    font-size: 12px;
    opacity: 0.4;
    color: #111;
}
.paging-navigation a.current-page{
    font-size: 16px!important;
    border-bottom: 1px solid #d83b36;
    opacity: 1;

}